{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
{% spaceless %}
    <div class="form-group">
        {{ form_label(form, label|default(null)) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}


{% block form_label %}
{% spaceless %}
    {% set label_attr = attr|merge({'class': attr.class|default('') ~ ' control-label'}) %}
    {{ parent() }}
{% endspaceless %}
{% endblock %}

{# Overrides form_div_layout.html.twig to add classes to all #}
{# inut fields except checkboxes and radio buttons #}
{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    <input
        {% if type != 'checkbox' and type != 'radio' %}
         class="form-control"
        {% endif %}
         type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endspaceless %}
{% endblock form_widget_simple %}

{# Same again for textareas #}
{% block textarea_widget %}
{% spaceless %}
    <textarea class="form-control" {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endspaceless %}
{% endblock textarea_widget %}
